@import "../abstracts/variables";
@import "../abstracts/mixins";
@import "../abstracts/placeholders";

body {
  background-color: $neutral-50;
  @include custom-scrollbar;
}

#__next,
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-wrapper {
  display: flex;
  flex: 1;
  min-height: 100vh;
}

.page-wrapper {
  @extend %page-content;
  flex: 1;
}

.container {
  @extend %container;
}

.divider {
  @include divider;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
